{% extends "base_admin.html" %}
{% block title %}Chat - Take Home{% endblock %}
{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-end">
                    <div class="card-body p-0 scrollable" style="max-height: 35rem">
                        <div class="nav flex-column nav-pills" role="tablist">
                            <a href="#chat-1" class="nav-link text-start mw-100 p-3 active" id="chat-1-tab"
                                data-bs-toggle="pill" role="tab" aria-selected="true">
                                <div class="row align-items-center flex-fill">
                                    <div class="col text-body">
                                        <div>Paweł Kuna</div>
                                        <div class="text-secondary text-truncate w-100">Sure Paweł, let me pull the
                                            latest updates.</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 col-xl-9 d-flex flex-column">
                    <div class="card-body scrollable" style="height: 35rem">
                        <div class="chat">
                            <div class="chat-bubbles">
                                <div class="chat-item">
                                    <div class="row align-items-end justify-content-end">
                                        <div class="col col-lg-6">
                                            <div class="chat-bubble chat-bubble-me">
                                                <div class="chat-bubble-title">
                                                    <div class="row">
                                                        <div class="col chat-bubble-author">Paweł Kuna</div>
                                                        <div class="col-auto chat-bubble-date">09:32</div>
                                                    </div>
                                                </div>
                                                <div class="chat-bubble-body">
                                                    <p>Hey guys, I just pushed a new commit on the <code>dev</code>
                                                        branch. Can you have a look and tell me what you think?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Type message" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}