{% extends "base_admin.html" %}
{% block title %}Tambah Admin - Take Home{% endblock %}
{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-md-9 d-flex flex-column">
                    <div class="card-body">
                        <form action="{{ url_for('tambah_user_admin') }}" method="POST" enctype="multipart/form-data"
                            autocomplete="off" novalidate>
                            <h3 class="card-title">Profile</h3>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <input type="file" class="form-control" name="profile_pic" required />
                                </div>
                            </div>
                            <h3 class="card-title mt-4">Profile</h3>
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-label">Username</div>
                                    <input type="text" class="form-control" placeholder="Masukkan Nama" name="username">
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Email</div>
                                    <input type="email" class="form-control" placeholder="Masukkan Email" name="email">
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Password</div>
                                    <input type="password" class="form-control" placeholder="Masukkan password"
                                        autocomplete="off" name="password">
                                </div>
                            </div>
                            <br>
                            <div class="row g-3">
                                <div class="col-md">
                                    <div class="form-label">Alamat</div>
                                    <input type="text" class="form-control" placeholder="Masukkan Alamat" name="alamat">
                                </div>
                                <div class="col-md">
                                    <div class="form-label">Nomor HP</div>
                                    <input type="text" class="form-control" placeholder="Masukkan Nomor HP" name="nomer"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                </div>

                            </div>
                            <div class="card-footer bg-transparent mt-auto">
                                <div class="btn-list justify-content-end">
                                    <a href="/dashboard_user/" class="btn">
                                        Cancel
                                    </a>
                                    <button type="submit" id="submit-button" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}