{% extends "base.html" %}
{% block title %}Reset Password - Take Home{% endblock %}
{% block content %}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="{{ url_for('index') }}" class="navbar-brand navbar-brand-autodark">
                <img src="{{ url_for('static', filename='img/logo2.png') }}" height="36" alt="">
            </a>
        </div>
        <form class="card card-md" action="{{ url_for('reset_password_token', token=token) }}" method="POST"
            autocomplete="off" novalidate>
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Password Baru</h2>
                <p class="text-secondary mb-4">Masukkan Password Baru Anda</p>
                <div class="mb-3">
                    <label class="form-label">Password Baru</label>
                    <input type="password" class="form-control" placeholder="Password Baru Anda" name="password_new"
                        required>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">
                        Reset Password
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}